---
layout: page
---

<!-- tags in thoughts-->
{% assign thoughts_tags =  site.thoughts | map: 'tags' | uniq %}
<!-- tags in post -->
{% assign post_tags =  site.posts | map: 'tags' | uniq %}
<!-- tags in tech_note -->
{% assign tech_tags =  site.tech_notes | map: 'tags' | uniq %}
<!-- pool all tags together -->
{% assign tags =  thoughts_tags | concat: post_tags | concat: tech_tags |uniq | sort %}

{% for tag in tags %}
  <h2 class="tag-title">
    #{{ tag }}
  </h2>
  <ul>
  <!-- loop in thoughts-->
  {% for note in site.thoughts %}
    {% if note.tags contains tag %}
      {% if note.title != null %}
        <div class="tagged-post">
          <h3 class="title">
            <a href="{{ note.url | relative_url }}">
              {{ note.title }}
            </a>
          </h3>
          <div class="meta">
            {{ note.date | date: "%B %-d, %Y" }}
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}

  <!-- loop in posts-->
  {% for note in site.posts %}
    {% if note.tags contains tag %}
      {% if note.title != null %}
        <div class="tagged-post">
          <h3 class="title">
            <a href="{{ note.url | relative_url }}">
              {{ note.title }}
            </a>
          </h3>
          <div class="meta">
            {{ note.date | date: "%B %-d, %Y" }}
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}

  <!-- loop in tech_notes-->
  {% for note in site.tech_notes %}
    {% if note.tags contains tag %}
      {% if note.title != null %}
        <div class="tagged-post">
          <h3 class="title">
            <a href="{{ note.url | relative_url }}">
              {{ note.title }}
            </a>
          </h3>
          <div class="meta">
            {{ note.date | date: "%B %-d, %Y" }}
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
